{% extends 'base.html' %}

{% block 'title' %}
password Reset

{% endblock 'title' %}
{% block 'content' %}






<form class="form shadow">
    {% if success %}
    <h6 id='password-change-success' style="display: none;">
        Password Changed Successfully !
    </h6>
    <div id="password-form">
    <h6>Hello!</h6>
    <p>Create New Password</p>
    <input type="hidden" name="" value="{{code}}" id="code">
    <div class="input" key={elem.id}>
        <div class="row" style='padding:0rem'>
            <div class="col-1 icon">
               <!-- icon -->
               <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div class="col-11">
                <label>Password</label>
                <input
                id="password"
                 type='password'
                 placeholder='passworrd'
               
                 />
            </div>
            
        </div>
      
    </div>
    <div class="input" key={elem.id}>
        <div class="row" style='padding:0rem'>
            <div class="col-1 icon">
               <!-- icon -->
               <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div class="col-11">
                <label>Confirm Password</label>
                <input
                id="confirm_password"
                 type='password'
                 placeholder='passworrd'
               
                 />
            </div>
            
        </div>
    </div>
    <div id="password-errors" class="errors">
        <p class='error'>This field is required !</p>
    </div>
    <div class="errors" id='pc-errors' style="display: none;">
       
    </div>
    <div class="button">
   
    <button class="login-button" id="save_passsword" >
        Save password
    </button>
    <span id="saving-password" style="display: none;">saving password...</span>
    </div>
     
    </div>
   <div class="line"></div>
   {%else%}
<form action="" class="form shadow">
    <p>
        {{detail}}
    </p>
</form>

{% endif %}
</form>



<script>
    $(document).ready(function(){
        $('#save_password').click(function(event){

           
            event.preventDefault();
            // 
            $('#password-error').fadeOut(0);
            $('#verify-error').fadeOut(0);
            $('#pc-errors').fadeOut(0);

            $(this).fadeOut(0,function(){
                $('#saving-password').fadeIn();
            })
            const password = $('#password').val();
            const confirm_password = $('#confirm_password').val();
            const code = $('#code').val();
          

            if(!password){
              $('#password-error').fadeIn(0);
              $('#saving-password').fadeOut(0,function(){
                        $('#save_password').fadeIn();
                    })
              return false;
            }
            if(password!=confirm_password){
                let errors =  $('#pc-errors')
               errors.empty();
               errors.append("<p class='error'>Password and Confirm Password doesn't match</p>");
               errors.fadeIn(0);
               $('#saving-password').fadeOut(0,function(){
                        $('#save_password').fadeIn();
                    })
               return false;


            }
            const data = {
                "code":code.toString(),
                "password":password
            }
            $.ajax({
                url:'{% url "core:core-password-reset-verified" %}',
                type:'POST',
                data:JSON.stringify(data),
                contentType:'application/json',
                success:function(response){
                
    
                   $('#password-form').fadeOut(0,function(){
                       $('#password-change-success').fadeIn(0);
                   })
                
                },
                error:function(errors){
                    $('#verify-error').empty();
                    $('#verify-error').append(errors.responseJSON)
                    $('#verify-error').fadeIn();
                    $('#saving-password').fadeOut(0,function(){
                        $('#save_password').fadeIn();
                    })
                }

            })

            


        })
    })
</script>
{% endblock 'content' %}